* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
  font-size: 14px;
  color: #00000099;
}

header {
  background: #4a90e2;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 42px;
  color: #fff;
  min-width: 980px;
  font-size: 14px;
}

header img{
  height: 24px;
}

nav > span {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav > div {
  display: flex;
  align-items: center;
}

nav > div i {
  margin-left: 8px;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post{
  width: 700px;
  margin: 0 0 30px 0 ;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: self-start;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 0.32);
  box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 0.32);
}

.post > .headerPost{
  padding: 20px 0 5px 20px;
  display: flex;
  justify-content: space-around;
}

.post > .headerPost .author{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10px;
}

.post > .headerPost .author small{
  padding: 3px 0 3px 0;
  color: grey;
}

.post .avatar img, .comment img{
  width: 40px;
  border-radius: 100px;  
}

.post article{
  padding: 10px 20px 20px 20px;
  line-height: 170%;
}

.comment{
  margin-top: 15px;
  display: flex;
}

.comment .textComment{
  padding: 15px;
  margin: 0 20px 0 20px;
  border-radius: 30px;
  background: #97979715;
}